body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #333; 
    color: #fff; 
  }
  
  .navbar {
    background-color: #d2b48c; 
    padding: 10px;
    text-align: center;
  }
  
  .logo {
    margin: 0;
    color: #333; 
  }
  
  .nav-link {
    color: #333; 
    text-decoration: none;
    margin: 0 10px;
  }
  
  .container {
    text-align: center;
    padding: 50px;
  }
  
  .welcome-text {
    margin-bottom: 20px;
    color: #d2b48c; 
  }
  
  .footer {
    background-color: #d2b48c; 
    color: #fff; 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .thanks {
    margin: 5px;
  }
  